body{
  font-family: Arial, Helvetica, sans-serif;
}
footer{
  text-align: center;
  margin-top: 4%;
}
.cuadro{
  height: 150px;
  width: 150px;
  background-color: grey;
  margin-top: 3px;
  margin-right: 3px;
  text-align: center;
  line-height: 5;
  font-size: 30px;
  color: white;
}
.titulo{
  text-align: center;
  margin-top:3%;
}
.row{
  display:flex;
}
.pantalla{
  flex: 1;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.cuadro.equis{
content: "X"
}
.cuadro.circulo{
content: "O"
}
